<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home-file</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet"
/>
</head>
<body>
    <div class="main w-full h-screen bg-zinc-700 p-10">
        <a href="/" class="text-lg cursor-pointer text-blue-200 opacity-70 inline-block my-6">go to home page</a>
        <h1 class="text-zinc-200 text-4xl capitalize"><%= filestitle %></h1>
        <p><%= filedata %></p>
    </div>
</body>
</html>